@page
@model Mission09_cj433.Pages.OrderCompletedModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h2>Your Order Has Been Received</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>